.cards{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .card {
    cursor: pointer;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 40px;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  .card-icon{
    height: auto;
    width: auto;
    padding-top: 10px;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon{
    height: auto;
    width: auto;
  }
  
  .update{
    color: chartreuse;
  }
  
  .trash{
    color: red;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }